<app-navmenufordetail></app-navmenufordetail>
 
<div class="container">
        <div class="form-group row">
                <label  class="col-2 col-form-label">Name</label>
                <label  class="col-10 col-form-label detailFromBorder">{{libraryName}}</label>
               
        </div>

        <div class="form-group row">
                <label  class="col-2 col-form-label">
                    City
                </label>
                <label  class="col-10 col-form-label detailFromBorder">{{cityName}}</label>
        </div>

</div>
 